<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="protect_system.Properties.Settings.ProjectDataConnectionString"
            connectionString="Data Source=|DataDirectory|\ProjectData.sdf;Password=VuMyc2iFdP0TiDgI7n;Persist Security Info=True"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>